extends main

block content
  html(lang="en")
    head
      title Document
    body
      div.row
        div.col-sm-8.col-sm-offset-2
          each post in posts
            li.list-group-item 
              div.lead #{post.title}
              a(href='#{post.url}', target='_blank') #{post.url}