extends main

block content
  html(lang="en")
    head
      title Show All Posts
    body
      div.row
        a(href='#')
          div.col-sm-8.col-sm-offset-2
            each post in posts
              li.list-group-item(href="http://google.com")
                div.lead
                  a(href='/post/' + post._id, target='_blank') #{post.title}
                  p #{post.summary}
                  a(href='/r/' + post.subreddit, target='_blank') /r/#{post.subreddit}